body {
    --list-indent-editing: 0;
    --list-indent-reading: 0;
    --indent-unit: normal;
    --indentation-guide-editing-indent: 0.2em;
    --indentation-guide-reading-indent: 0.2em;
    --list-bullet-size: 0.4em;
    --theme-font: "Noto Serif SC", "Noto Serif CJK SC", "SimSun";
    --theme-font-bold: "Noto Sans SC", "Noto Sans CJK SC", "SimHei";
    --theme-font-mono: "Sarasa Term SC Nerd", "Noto Sans Mono CJK SC", "monospace";
    --font-interface-theme: var(--theme-font-mono);
    --font-text-theme: var(--theme-font-mono);
}

.cm-strong {
    font-family: var(--theme-font-mono);
}

.cm-content {
    word-spacing: normal;
    white-space: pre-wrap;
}
